/* relatable styles */
body {
    font-family: "Work Sans", "Sans Serif";
}

.btn-primary {
    border-radius: 5px;
    background: #F15B22;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 30px;
}

.section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.section-description {
    color: #444343;
    line-height: 26px;
    margin-top: 0;
}

/* header related styles */
.header {
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    height: 808px;
    display: flex;
    justify-content: end;
    align-items: center;
    /* padding: 0 230px; */
}

.banner-content {
    width: 550px;
    text-align: right;
    padding-right: 150px;
}

.banner-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description {
    color: #444343;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 30px;
}

/* main part styles */
main {
    width: 1140px;
    margin: 150px auto;
}

/* My failures of previous year styles */
.failures-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

.failures-container img {
    width: 450px;
}

.failures-container-content {
    & ul {
        margin-left: -36px;
    }

    & li {
        color: #444343;
        line-height: 26px;
        margin-top: 8px;
        list-style: none;

        & i {
            color: #16D887;
            margin-right: 10px;
        }
    }
}

/* my plans section styles */
.my-plans{
    & .section-title{
        text-align: center;
        margin-bottom: 50px;
    }
}
.plans-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

     .plan{
        text-align: center;
     }
}