* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* banner section styles */
.banner {
  background-image: url(../images/banner/banner1.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: center;
}
.banner-info {
  width: 40%;
  text-align: end;
  padding: 0 150px;
}
.banner-title {
  font-size: 50px;
  color: #151414;
  margin-bottom: 25px;
}
.section-description {
  font-size: 16px;
  color: #444343;
  margin-bottom: 25px;
}
.banner-btn {
  background-color: #f15b22;
  border: 0;
  color: #fff;
  padding: 13px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
/* main styles */
main {
  max-width: 1140px;
  margin: 130px auto;
}
/* failure part styles */
.failure-part {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.section-title {
  font-size: 35px;
  color: #151414;
  margin-bottom: 25px;
}
.failure-list {
  color: #444343;
  font-size: 16px;
  margin-bottom: 8px;
}
.fa-check {
  color: #16d887;
  margin-right: 10px;
}
/* my plan styles */
.my-plan {
  margin: 130px 0;
}
.my-plan .section-title {
  text-align: center;
  margin-bottom: 50px;
}
.plans {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.plan {
  text-align: center;
}
.plan img {
  width: 92.6px;
  height: 92.6px;
  margin-bottom: 15px;
}
.plan .plan-title {
  font-size: 24px;
  color: #151414;
  margin-bottom: 8px;
}
.plan .plan-description {
  font-size: 20px;
  color: #737272;
}
/* small banner styles */
.small-banner {
  width: 90%;
  margin: 0 auto;
  padding: 60px 65px;
  background-image: url(../images/gradient2.png), url(../images/watch.png);
  background-repeat: no-repeat;
  background-position: left, right;
  border-radius: 8px;
}
.small-banner .section-title {
  color: #fff;
}
.call-now-btn {
  background-color: #fff;
  color: #f15b22;
  padding: 13px 25px;
  border: 0;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
